[submodule "user_service"]
	path = user_service
	url = https://github.com/CorporationX/user_service.git
[submodule "post_service"]
	path = post_service
	url = https://github.com/CorporationX/post_service.git
[submodule "project_service"]
	path = project_service
	url = https://github.com/CorporationX/project_service.git
[submodule "account_service"]
	path = account_service
	url = https://github.com/CorporationX/account_service.git
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/CorporationX/payment_service.git
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/CorporationX/notification_service.git
[submodule "analytics_service"]
	path = analytics_service
	url = https://github.com/CorporationX/analytics_service.git
[submodule "achievement_service"]
	path = achievement_service
	url = https://github.com/CorporationX/achievement_service.git
[submodule "infra"]
	path = infra
	url = https://github.com/CorporationX/infra.git
