spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      port: 6379
      host: localhost

    kafka:
      port: 9092
      host: localhost
      group-id: post_service

    cache:
      hashtag:
        max_size: 1000

    channel:
      calculations_channel:
        name: calculations_channel
      like_post_channel:
        name: like-post_channel
      new_comment:
        name: new-comment_channel
      post_view:
        name: post-view_channel
      new_post:
        name: new-post_channel

  servlet:
    multipart:
      max-file-size: 5MB

  profiles:
    active: test

server:
  port: 8081

logging:
  level:
    root: info

services:
  s3:
    endpoint: http://127.0.0.1:9000/
    accessKey: user
    secretKey: password
    bucketName: corpbucket
    targetWidth: 1080
    targetHeight: 566
    maxFilesAmount: 10


post:
  publisher:
    scheduler:
      cron: "0 0/1 * 1/1 * ?" # every minute
  ad-remover:
    scheduler:
      cron: "0 0 0 * * *"  # Каждый день в полночь
    threads-count: 20
    max-list-size: 100
  moderator:
    path-curse-words: "src/main/resources/curse-words.txt"
    scheduler:
      cron: "0 0 * * * ?" # every midnight
    threads-count: 20
    max-list-size: 100
  correcter:
    scheduler:
      cron: "0 0 0 * * *"

user-service:
  host: localhost
  port: 8080
project-service:
  host: localhost
  port: 8082
payment-service:
  host: localhost
  port: 9080

async:
  task:
    corePoolSize: 5
    maxPoolSize: 10
    queueCapacity: 100
  post:
    corePoolSize: 20
    maxPoolSize: 50
    queueCapacity: 100

spelling:
  url: https://speller.yandex.net/services/spellservice.json/checkText?text=
  threads: 4

moderation:
  cron: "0 0 0 * * *"  # Каждый день в полночь
  dictionary:
    filepath: "classpath:bad-words.txt"
  threads-count: 30
  batch-size: 100

api:
  path: /api/v1

feed:
  feed-size: 500
  batch-size: 25

cache:
  max-comments: 3

batch:
  get-user-followers: 100